.card {

  background: black;
  opacity: 50%;
  /* Add border */
  border: 1px solid #0f1011;

  /* Add space between the border and the content */
  padding: 8px;
  align-items: center;
  border-radius: 1.5rem;

  margin-top: 1.5rem;

}

.text {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  border-radius: 3rem;
  padding: 2rem;
}


.button54 {
   text-align: center;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button54 {
    padding: 0.25em 0.75em;
  }
}

.progress {
  padding: 1.5rem;
  border-radius: 30px;
}


.author{

  color: white;
}

.likes{
 text-align: center;
 
  
}
.buttonArea{
  text-align: center;
}